{% extends "blog/base.html" %}
{% block content %}
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Jméno</th>
      <th scope="col">Příjmení</th>
      <th scope="col">Platba</th>
      <th scope="col">věk na táboře</th>
    </tr>
  </thead>
  <tbody>
    {% for ministrant in ministrants %}
      {% if user.is_superuser%}
      <tr class="ministrant-row" data-ministrant-id="{{ ministrant.id }}">
        <th scope="row">{{ ministrant.id }}</th>
        <td>{{ ministrant.birthname }}</td>
        <td>{{ ministrant.surname }}</td>
        {% if ministrant.paid == True %}
          <td>✔️</td>
        {% elif ministrant.paid == False %}
          <td>❌</td>
        {% endif %}
        <td>{{ ministrant.birth_date|timesince:now }}</td>
      </tr>
      <tr class="details-row collapse" id="ministrant-details-{{ ministrant.id }}">
        <td colspan="6">
          <div class="card">
            <div class="card-header">
              <h3>{{ ministrant.birthname }} {{ ministrant.surname }}</h3>
            </div>
            <div class="card-body">
              <p class="card-text">
                <table class="table">
                  <tbody>
                    <tr>
                      <th scope="row">Birthname</th>
                      <td>{{ ministrant.birthname }}</td>
                    </tr>
                    <tr>
                      <th>Surname</th>
                      <td>{{ ministrant.surname }}</td>
                    </tr>
                    <tr>
                      <th>Birth Date</th>
                      <td>{{ ministrant.birth_date }}</td>
                    </tr>
                    <tr>
                      <th>Address</th>
                      <td>{{ ministrant.address }}</td>
                    </tr>
                    <tr>
                      <th>Town</th>
                      <td>{{ ministrant.town }}</td>
                    </tr>
                    <tr>
                      <th>Town Zip</th>
                      <td>{{ ministrant.town_zip }}</td>
                    </tr>
                    <tr>
                      <th>Insurance</th>
                      <td>{{ ministrant.insurance }}</td>
                    </tr>
                    <tr>
                      <th>Alergy</th>
                      {% if ministrant.alergy == '' %}
                        <td>❌</td>
                      {% else %}
                        <td>{{ ministrant.alergy }}</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th>Swimming</th>
                      {% if ministrant.swimming == True %}
                        <td>✔️</td>
                      {% elif ministrant.swimming == False %}
                        <td>❌</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th>Parent</th>
                      <td>{{ ministrant.parent }}</td>
                    </tr>
                    <tr>
                      <th>Parent's Phone</th>
                      <td>{{ ministrant.parents_phone }}</td>
                    </tr>
                    <tr>
                      <th>Parent's Email</th>
                      <td>{{ ministrant.parents_email }}</td>
                    </tr>
                  </tbody>
                </table>
              </p>
            </div>
          </div>
        </td>
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    var currentExpandedRow = null;
    
    $('.ministrant-row').on('click', function() {
      var detailsRow = $(this).next('.details-row');
      var expandButton = $(this).find('.expand-button');
      
      if (currentExpandedRow && currentExpandedRow[0] !== detailsRow[0]) {
        currentExpandedRow.collapse('hide');
        currentExpandedRow.prev('.ministrant-row').find('.expand-button').removeClass('expanded');
      }
      
      detailsRow.collapse('toggle');
      expandButton.toggleClass('expanded');
      
      currentExpandedRow = detailsRow;
    });
  });
</script>

{% endblock content %}
