{% extends "blog/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h1 class="article-title">{{ ministrant.birthname }} {{ ministrant.surname }}</h1>
        <small class="text-muted">Přihláška vyplněna dne: {{ ministrant.time_stamp|date:"d. F Y H:i" }}</small>
        {% if ministrant.author == user or user.is_superuser %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'ministrant-update' ministrant.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'ministrant-delete' ministrant.id %}">Delete</a>
            <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'ministrant-pdf-generate' ministrant.id %}" target="_blank">Generate PDF</a>
            <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'ministrant-invoice-pdf' ministrant.id %}" target="_blank">Faktura</a>
            <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'send_inform_email' ministrant.id %}">send E-mail</a>

            {% if ministrant.paid == True %}
              <div class="alert alert-success mt-1 mb-1" role="alert">
                Přihláška je zaplacena
              </div>
            {% elif ministrant.paid == False %}
            <div class="alert alert-danger mt-1 mb-1" role="alert">
              Přihláška není zaplacena

              <button class="btn btn-success btn-sm collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDetails" aria-expanded="false" aria-controls="collapseDetails">
                Zaplatit
              </button>
              <div class="collapse" id="collapseDetails">
                <div class="card card-body mt-2">
                  <div class="card-header">
                    <h5 class="card-title">Platební údaje</h5>
                  </div>
                  <div class="card-body" style="overflow: auto;">
                    <div class="container text-left">
                        <div class="row d-flex align-items-stretch"> <!-- Add d-flex align-items-stretch here -->
                            <div class="col">
                                <table class="table">
                            <tr>
                              <td>Číslo účtu:</td>
                              {% if bank_account.prefix_account_number > 0 %}
                                <td>{{ bank_account.prefix_account_number }}-{{ bank_account.account_number }}/{{ bank_account.bank_code }}</td>
                              {% else %}
                                <td>{{ bank_account.account_number }}/{{ bank_account.bank_code }}</td>
                              {% endif %}
                            </tr>
                            <tr>
                              <td>Částka:</td>
                              <td>{{ summer_camp_price }},- Kč</td>
                            </tr>
                            <tr>
                              <td>Variabilní symbol:</td>
                              <td>{{ ministrant.variable_symbol }}</td>
                            </tr>
                          </table>
                        </div>
                        <div class="col d-flex align-items-start justify-content-center"> <!-- Change align-items-center to align-items-start -->
                          <img src="{{ ministrant.qr_pay_code.url }}" alt="QR Code" style="max-height: 75%; margin-top: 0px;"> <!-- Add margin-top: -75px; -->
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th>Jméno</th>
            <td>{{ ministrant.birthname }}</td>
          </tr>
          <tr>
            <th>Příjmení</th>
            <td>{{ ministrant.surname }}</td>
          </tr>
          <tr>
            <th>Datum narození</th>
            <td>{{ ministrant.birth_date }}</td>
          </tr>
          <tr>
            <th>Adresa</th>
            <td>{{ ministrant.address }}</td>
          </tr>
          <tr>
            <th>Obec</th>
            <td>{{ ministrant.town }}</td>
          </tr>
          <tr>
            <th>PSČ</th>
            <td>{{ ministrant.town_zip }}</td>
          </tr>
          <tr>
            <th>Pojišťovna</th>
            <td>{{ ministrant.insurance }}</td>
          </tr>
          <tr>
            <th>Alergie</th>
            {% if ministrant.alergy == '' %}
              <td>❌</td>
            {% else %}
              <td>{{ ministrant.alergy }}</td>
            {% endif %}
          </tr>
          <tr>
            <th>Plavec</th>
            {% if ministrant.swimming == True %}
              <td>✔️</td>
            {% elif ministrant.swimming == False %}
              <td>❌</td>
            {% endif %}
          </tr>
          <tr>
            <th>Rodič</th>
            <td>{{ ministrant.parent }}</td>
          </tr>
          <tr>
            <th>Telefonní číslo rodiče</th>
            <td>{{ ministrant.parents_phone }}</td>
          </tr>
          <tr>
            <th>E-mail rodiče</th>
            <td>{{ ministrant.parents_email }}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </article>
{% endblock content %}
